html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

body {
  -ms-overflow-style: none; /* IE/old Edge */
}